Source: ros-iron-multidim-rrt-planner
Section: misc
Priority: optional
Maintainer: david <daviddorf2023@u.northwestern.edu>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-iron-ament-copyright <!nocheck>, ros-iron-ament-flake8 <!nocheck>, ros-iron-ament-pep257 <!nocheck>, ros-iron-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-multidim-rrt-planner
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-iron-rclpy, ros-iron-ros2launch, ros-iron-std-msgs, ros-iron-ros-workspace
Description: RRT exploration in 2D and 3D
